torch==2.5.1
torchinfo==1.8.0
torchvision==0.20.1
matplotlib==3.9.4
pytorch-lightning==2.4.0
lightning~=2.4.0
pillow==11.0.0
numpy==1.26.4
setuptools==75.6.0
tqdm==4.67.1
torchmetrics==1.6.0
requests==2.32.3
gdown==5.2.0
psutil

opencv-python~=4.10.0.84
segmentation_models_pytorch
tensorboard~=2.18.0